[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Plugin for logging audit events using a SLF4J appender
[access "refs/*"]
	owner = group GerritForge-audit-sl4j
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-audit-sl4j
	label-Verified = -1..+1 group GerritForge-audit-sl4j
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-audit-sl4j
	removeReviewer = group GerritForge-audit-sl4j
	submit = group GerritForge-audit-sl4j
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
